body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,figure,legend,input,textarea,select{
    margin:0;
    padding:0
}
/* 设置全局字号 */
 body,html{
    font: 14px "微软雅黑",Arial;
}
/* 取消默认加粗样式 */
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 100%;
}
/* 取消默认倾斜 */
i,em{
    font-style: normal;
}
/* 取消默认下划线 */
a{
    color: #757575;
    text-decoration: none;
}
/* 取消列表项目符号 */
li{
    list-style: none;
}
/* 取消input选中后的高亮框 */
input{
    outline: none;
}
/* 帮助解决图片被嵌套后的像素bug */
img{
    border: 0;
    vertical-align: middle;
}
 /* 万能清浮动法 */
 .clearfix{
    *zoom: 1;
}
.clearfix::after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}